body{

    margin: 0;

    font-family: 'Roboto', sans-serif;
    text-align: center;

}

body > *{
    padding: 40px 12px !important;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 50px;
    font-weight: bolder;

    color: #2c3161;

    margin: 60px 0 10px 0;
}

h3{
    font-size: 30px;

    margin: 0 0 10px 0;
}

p, a{
    font-size: 22px;

    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

a, li{
    cursor: pointer;;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.underline{
    text-decoration: underline;
}

.sub-cont{
    max-width: 1200px;
    margin: auto;
}

.disabled{
    color: #555;
    cursor: not-allowed;
    text-decoration: line-through !important;
}

.disabled-button{
    cursor: not-allowed;
    text-decoration: line-through !important;
}

.not-yet{
    display: none !important;
}

header{
    background-repeat: no-repeat;
    background-size: cover;

    color: #fff;

    padding: 20px 0 80px 0;

}

header .upper-header-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 40px;
}

header .logos-cont .logo-wide{
    max-height: 100px;
    max-width: 100%;
    height: auto;
    width: auto;

    object-fit: contain;
}

header .logos-cont .logo-long{
    display: none;
}

@media screen and (max-width: 800px) {
    header .logos-cont{
        width: 100%;
    }

    header .logos-cont .logo-wide{
        display: none;
    }

    header .logos-cont .logo-long{
        display: block;

        height: 250px;

        margin: auto;
    }

    header .menu-icon-cont{
        position: absolute;

        width: 50px !important;
        height: 50px !important;
    }

    header .menu-icon-cont img{
        width: 50px !important;
        height: 50px !important;
    }

    header .menu-icon-cont .hidden-logo{
        right: -40px;
        top: 20px;
    }

    header .menu-cont{
        right: -281px;
        transform: translateX(-73%) !important;
    }

    header .upper-header-cont{
        margin-bottom: 45px;
    }
}

header .hidden-logo{
    position: fixed;
    transform: translateX(-90%);
    z-index: 1;

    top: 45px;

    padding: 10px;
    border-radius: 50%;

    background-color: #2c3161;
}

header .menu-icon-cont{
    width: 65px;
    height: 65px;
}

header .menu-icon-cont img{
    object-fit: fill;
    width: 65px;
    height: 65px;
    
}


header .lower-header-cont > p{
    margin-bottom: 100px;
    font-size: 20px;
}

header .header-buttons-cont{
    margin-bottom: 50px;
}

header .header-buttons-cont a{
    padding: 15px 20px;
    margin: 0 15px;

    border: 2px solid #fff;
    border-radius: 5px;

}

@media screen and (max-width: 600px) {
    header .header-buttons-cont a{
        display: block;
    }

    header .header-buttons-cont a:first-child{
        margin-bottom: 20px;
    }
}

header .menu-cont{
    display: none;
    position: fixed;

    transform: translateX(-76%);
    top: 0;

    width: 350px;
    height: 100%;

    overflow-y: auto;

    border: 10px solid #2c3161;
    border-top: none;

    background-color: #fff;

    color: #2c3161;

    z-index: 20;
}

@media screen and (max-width: 1300px) {
    header .menu-cont{
        transform: translateX(-69%);
    }
}

header .menu-cont .menu-off{
    margin-top: 15px;
}

header .menu-cont nav{
    margin: 15px 0 50px 0;
}

header .menu-cont li{
    list-style-type: none;

    font-size: 22px;
    font-weight: 900;

    margin-bottom: 15px;
}

header .menu-cont .buy-button{
    display: inline-block;

    padding: 15px 20px;
    margin-bottom: 80px;

    background-color: #2c3161;
    color: #fff;
    border-radius: 5px;

    font-size: 22px;
    font-weight: 900;
    

}


.about-cont .about-text p{
    margin-bottom: 40px;
}

.about-cont .topics-cont > p{
    font-weight: 900;
}

.about-cont h2{
    margin-bottom: 0px;
    margin-top: 60px;
}

.about-cont .about-text .archive-link{
    display: block;
    text-decoration: underline;
    font-size: 35px;
    margin-bottom: 30px;
    color: #2c3161;
}

.important-dates .dates-cont{
    width: 600px;
    max-width: 100%;

    margin: auto;

    text-align: left;
}

.important-dates .dates-cont > p{
    margin-bottom: 10px;
}

.important-dates .date-bold{
    font-weight: 900;
}

.sponsors-cont > h2{
    margin-bottom: 15px;
}

.sponsors-cont .sponsors-grid{
    display: grid;

    width: 860px;
    max-width: 95%;

    grid-template-columns: 1fr 1fr 1fr;

    justify-items: center;
    align-items: center;

    margin: auto;
}

.brainvr-logo {
    height: 120px;
}

.extra-text{
    margin: 10px auto 30px auto;
    max-width: 800px;
}

@media screen and (max-width: 920px) {
    .sponsors-cont .sponsors-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 650px) {
    .sponsors-cont .sponsors-grid{
        display: flex;
    
        flex-direction: column;
    
        max-width: 90%;
    
        margin: auto;
    }
}


.sponsors-cont .sponsor-detail{
    margin-bottom: 30px;
}

.sponsors-cont .sponsor-detail > img{


    max-height: 150px;
    max-width: 250px;

    object-fit: contain;
}

.sponsors-cont .discount a{
    display: inline-block;
    color: #2c3161;
    text-decoration: underline;
    font-weight: 900;
    margin-bottom: 5px;
}

.general-info .psychofarma-logo{
    width: 130px;
}

.general-info .location-panel{
    margin-bottom: 30px;
}

.general-info .location-panel > p{
    margin-bottom: 10px;
}

.general-info .carousel-panel h3{
    margin-bottom: 15px;
}

.general-info .carousel_cont{
    max-width: 100%;
    margin: auto;

    display: flex;
    flex-direction: row;
    align-items: center;

}

.general-info .carousel{
    margin: auto;
    max-width: 920px;
    width: 100%;
}

.general-info .carousel img{
    width: auto;
    height: auto;
    max-width: 900px;
    max-height: 550px;
    margin: auto;
}


@media screen and (max-width: 1000px) {
    .general-info .carousel{
        max-width: 100%;
    }

    .general-info .carousel img{
        max-width: 100%;
    }

    .general-info .carousel img{
        max-width: 100%;
    }
}

@media screen and (min-width: 500px){
    .slick-prev:before,
    .slick-next:before {
        display: inline-block !important;
        font-size: 40px !important;
    }

    .slick-prev{
        left: -50px !important;
    }
}

.slick-prev:before,
.slick-next:before {
    color: #2c3161 !important;
}

.general-info .date-panel{
    margin-bottom: 30px;
}

.general-info .date-panel > a{
    color: #000;
    text-decoration: none;

}



.general-info .date-panel > p{
    margin-bottom: 10px;
}


.mapouter{
    max-width: 100%;
    margin: 20px auto;

    z-index: 0;
}

.gmap_canvas{
    max-width: 100%;
    z-index: 0;
}

.mapouter iframe{
    max-width: 100%;
    z-index: 0;
}

.program-cont .schedule-cont{
    margin-bottom: 40px;
}

.program-cont .pdf-program-cont{
    margin: 50px 0 70px 0;
}

.program-cont .pdf-program-cont > a{

    padding: 20px 30px;

    background-color: #2c3161;

    border-radius: 10px;

    font-size: 30px;
    font-weight: bolder;
    color: #fff;
}

.program-cont .keynote-speakers-cont > h3{
    margin-bottom: 5px;
}

.program-cont .speakers-detail-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.program-cont .speaker-detail-cont{
    display: flex;
    flex-direction: column;

    max-width: 300px;

    margin: 15px;

    text-align: center;

    cursor: pointer;
}

.program-cont .program-link{
    margin-top: 30px;
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #2c3161;
    text-decoration: underline;
}

.program-cont .speaker-detail-img-cont{
    border-radius: 50px;
}

.program-cont .speaker-detail-img-cont img{
    object-fit: fill;
    width: 100%;
    height: 100%;

    
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.speaker-detail-text{
    position: relative;
    background-color: #2c3161;
    padding-top: 15px;
    padding-bottom: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -6px;
}

.speaker-detail-text-sub{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.speaker-detail-text h4{
    font-size: 18px;
    color: #fff;
    margin: 0;
    padding: 0 50px;
}

.speaker-detail-text p{
    font-size: 16px;
    color: #fff;
    margin: 0;
    margin-top: 10px;
}

.speaker-detail-text .more-info-arrow{
    position: absolute;
    width: 20px;
    right: 50px;
    top: 20px;
}

.speaker-detail-text .more-info{
    display: none;
    margin-top: 10px;
}

.speaker-detail-text .more-info p{
    margin: 7px 10px;
    font-size: 12px;
}

.speaker-detail-text .more-info p::before{
    content: '• ';
}

.rotated{
    transform: rotate(180deg);
}

.logistics-cont > div{
    margin-bottom: 45px;
}

.logistics-cont .travel-info a{
    display: block;
    margin: 25px 0;
    color: #2c3161;
    font-weight: 900;
    text-decoration: underline;
}

.logistics-cont .travel-info a:nth-of-type(1){
    margin-top: 10px;
}

#practical{
    margin-top: 50px;
}

.logistics-cont > div:last-child{
    margin-bottom: auto;
}

.contact-info p{
    margin-top: 12px;
    margin-bottom: 12px;
}

.contact-info p:nth-child(2){
    margin-top: 10px;
}

.contact-info a {
    text-decoration: underline;
}

.registration-cont p{
    margin-bottom: 10px;
}

.registration-cont .top-registry-text .date-bold{
    font-weight: 900;
}

.registration-cont .registry-button{
    margin-top: 40px;
    margin-bottom: 40px;
}

.registration-cont .registry-button a{
    text-decoration: underline;
    font-weight: 900;
    color: #ba0606;
}


.registration-cont .bottom-registry-text p{
    margin-bottom: 20px;
}

.terms-condi{
    margin-top: 20px;
    font-weight: 900;
}

.terms-condi a{
    color:#2c3161;
    text-decoration: underline;
}

.abstract-cont .abstract-dates p{
    margin: 10px 0;
}

.first-call{
    color: #ba0606;
    text-decoration: underline;
    display: block;
    margin: 25px 0 10px 0;
    font-size: 22px;
}

.submit-abstract{
    color: #ba0606;
    text-decoration: underline;
    display: block;
    margin: 10px 0 35px 0;
    font-size: 30px;
    font-weight: 900;
}

.submisions-subheader{
    margin-bottom: 15px;
}

.demo-header{
    color: #ba0606;
}

.demo-link{
    color: #ba0606;
    text-decoration: underline;
}

.demo-link:hover{
    color: #ba0606;
    text-decoration: underline;
}

.submissions-sub{
    margin-bottom: 35px;
}

.demo-header > a{
    color: #ba0606;
    text-decoration: underline;
}

.agreement-link {
    color: #2c3161;
    text-decoration: underline;
    font-weight: 900;
    padding-top: 15px;
    padding-bottom: 20px;
    display: block;
}

.agreement-link:hover {
    color: #2c3161;
    text-decoration: underline;
}

.submit-abstract:hover{
    color: #ba0606;
    text-decoration: underline;
}

.abstract-cont > h2{
    margin-bottom: 25px;
}

.abstract-cont .abstract-notes{
    margin: 25px 0;
}

.abstract-cont .down-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.abstract-cont .abstract-notes p{
    max-width: 700px;
    font-size: 18px;
    margin: 10px auto;
}

.abstract-cont .abstract-templates{
    margin-top: 20px;
}

.abstract-cont .abstract-templates a{
    font-size: 22px;
    color: #2c3161;
    text-decoration: underline;
    font-weight: 900;
}

.abstract-cont .abstract-templates p{
    margin: 5px 10px;
}


.committees-cont > h2{
    margin-bottom: 20px;
}

.committees-cont .sub-committee-cont > h3{
    margin-bottom: 15px;
}

.committees-cont .sub-committee-cont{
    margin-bottom: 45px;
}

.committees-cont .sub-committee-names-cont > p{
    margin-bottom: 10px;
}

.committees-cont .prize-cont h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.committees-cont .prize-cont a{
    color: #2c3161;
    text-decoration: underline;
    font-weight: 900;
}

.archives-cont p:last-child{
    margin-top: 10px;
}

.archives-cont a{
    color: #2c3161;
    text-decoration: underline;
    font-weight: 900;
}

footer{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    color: #fff;
}


/* keynote-speaker-page */

.speaker-page-header{
    
}

.speaker-page-top-sponsors{
    margin: auto;
}

.speaker-page-header-title{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.speaker-page-header-title .logo-wide{
    width: 400px;
}

.speaker-page-header-innner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.speaker-page-header .logo-wide-top{
    display: none;
}

@media screen and (max-width: 610px) {
    .speaker-page-header-title .logo-wide{
        display: none;
    }

    .speaker-page-header .logo-wide-top{
        display: block;
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
    }
}

.speaker-page-header-innner h1{
    color: #fff;
    font-size: 25px;
    text-align: right;
    max-width: 500px;
    margin: 5px 0;
}

.lower-header-cont h1{
    font-size: 25px;
    margin-top: 3px;
    margin-bottom: 10px;
}

.main-logo-image{
    width: 100%;
    max-width: 675px;
}

.speaker-page-header-back{
    font-size: 30px;
    font-weight: 900;
    display: flex;
    align-items: center;
    padding-right: 20px;
    margin-left: -10px;
}


.speaker-page-header-back-img{
    width: 50px;
    
    transform: rotate(90deg);
}

.speaker-page-main{
    padding-top: 10px !important;
    max-width: 1200px;
    margin: auto;
}

.speaker-page-main .speaker-detail-img-cont img{
    border-radius: 50%;
    border: solid 2px #2c3161;
    max-width: 350px;
    width: 90%;
}

.speaker-page-main .speaker-detail-cont h2{
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.speaker-page-main .lecture-cont,
.speaker-page-main .about-speaker{
    max-width: 700px;
    margin: auto;
}

.speaker-page-main .lecture-cont p,
.speaker-page-main .about-speaker p{
    text-align: justify;
}

.speaker-page-main .lecture-cont h3{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 25px;
}

.speaker-page-main .lecture-cont p{
    font-size: 20px;
    text-align: justify;
}

.speaker-page-main .lecture-cont p{
    margin-bottom: 10px;
}

.speaker-page-main .about-speaker{
    margin-top: 40px;
    border-top: solid 3px #2c3161;
}

.speaker-page-main .about-speaker h4{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;

}

.speaker-page-main .about-speaker a{
    font-size: 18px;
    color: #2c3161;
    text-decoration: underline;
}

.speaker-page-main .about-speaker p{
    font-size: 20px;
    margin-bottom: 7px;
}

.speaker-page-main .centered p{
    text-align: center;
}

.specials-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.specials-cont > *{
    margin-bottom: 30px;
}

.special-detail-text{
    position: relative;
}

.special-detail-text .speaker-detail-text-sub{
    height: unset;
}

.special-detail-text .speaker-detail-text-sub > p{
    margin-top: 0px;
}

.specials-sub{
    max-width: 600px;
}

.special-extend-button img{
    width: 25px;
}

.speci-expand-button{
    width: 30px;
    position: absolute;
    right: 17px;
    top: calc(50% - 10px);
}

.specials-sub .speaker-detail-img-cont img{
    margin-bottom: -7px;
}

.speci-show-text a{
    font-size: 16px;
    text-decoration: underline;
}

.cyber-speci .speci-expand-button{
    top: 35px;
}

.specials-cont .speaker-detail-text-sub{
    padding-left: 50px;
    padding-right: 50px;
}

#galaExpandButton{
    transform: rotate(-90deg);
}



.speaker-detail-text .speci-show-text{
    display: none;
    margin: 25px 30px 5px 30px;
    text-align: justify;
}

.travel-page-main h2{
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 40px;
}

.travel-page-main .guide-pictures{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.travel-page-main .guide-pictures img{
    width: 100%;
    margin: 30px;
}

.travel-page-main .download-con{
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.travel-page-main .download-travel{
    display: block;
    font-size: 25px;
    font-weight: bold;
    color: #2c3161;
    text-decoration: underline;
    
}

.travel-page-main .guide-pictures .wide{
    max-width: 650px;
}

.travel-page-main h3{
    font-size: 25px;
    margin-top: 30px;
}

.travel-page-main .guide-pictures .narrow{
    max-width: 450px;
}

.travel-page-main .guide-pictures .small{
    max-width: 350px;
}

.travel-page-main{
    text-align: justify;
    max-width: 1000px;
    margin: auto;
}

.travel-page-main p{
    margin-bottom: 10px;
}

.socket-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.socket-images > img{
    width: 200px;
    margin-right: 15px;    
    margin-bottom: 10px;
}

.atm-picture {
    text-align: center;
}

.atm-picture img{
    max-width: 100%;
    
}

.hotels-page-main > p {
    margin-top: 20px;
    margin-bottom: 30px;
}

.acomodation-info a{
    display: block;
    margin: 10px 0 25px 0;
    color: #2c3161;
    font-weight: 900;
    text-decoration: underline;
}

.speaker-funding{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.speaker-funding .speaker-fund-digi{
    width: 200px;
    max-width: 100%;
}

.speaker-funding .speaker-fund-eu{
    width: 500px;
    max-width: 100%;
}

.about-speaker .last-para{
    margin-top: 45px;
}


.hotels-page-main h2{
    margin-bottom: 30px;
}

.hotels-page-main .list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.hotels-page-main .item{
    width: 800px;
    max-width: 100%;
    border-bottom: 3px solid #2c3161;
    padding: 15px;
    margin-bottom: 10px;
}

.hotels-page-main .stars{
    margin-left: 5px;
}

.hotels-page-main .other-info p::before{
    content: "•  ";
}

.hotels-page-main .other-info p{
    margin-top: 8px;
    font-size: 21px;
    text-align: left;
}


.hotels-page-main .item h3{
    font-size: 25px;
    text-align: left;
}

.hotels-page-main .item a{
    color: #2c3161;
    text-decoration: underline;
    margin-bottom: 15px;
}

.hotels-page-main .item .item-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hotels-page-main .download-con{
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.store-links{
    margin: 15px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.store-links a{
    display: block;
    margin: 0 10px;
}

.store-links a img{
    max-width: 200px;
}


.hotels-page-main .download-travel{
    display: block;
    font-size: 25px;
    font-weight: bold;
    color: #2c3161;
    text-decoration: underline;
    
}

.hotels-page-main .other-info{
    margin-bottom: 10px;
}

.gala-page-main {
    padding-top: 20px !important;
}

.gala-detail-cont{
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.gala-detail-cont h2{
    margin-top: 00px;
}

.gala-detail-cont > p{
    text-align: justify;
    margin-bottom: 15px;
}

.gala-detail-cont .margin-fix{
    margin-top: 20px;
}

.gala-info > p{
    margin-bottom: 10px;
}

.gala-info a{
    text-decoration: underline;
}

#specials{
    margin-top: 30px;
    margin-bottom: 15px;
}

.gala-detail-cont h3{
    margin-top: 25px;
}

.gala-info .gala-info-break{
    margin-bottom: 30px;
}

.gala-detail-cont .mapouter{
    margin-top: 40px;
    margin: 30px auto;
    height: 400px;
}

.gala-pictures > img{
    width: 100%;
    max-width: 750px;
    margin-top: 30px;
}

.buy-social-buttons{
    margin-top: 23px;
    margin-bottom: 23px;
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: #002060;
  text-decoration: underline;
}

.buy-social-buttons:hover{
    color: #002060;
}



.company-intro .intro-head{
    margin-top: 25px;
    
}

.company-intro .intro-head:first-of-type{
    margin-top: 25px;
    
}

.company-intro .intro-head{
    font-weight: 900;
    
}

.company-intro .points-info{
    margin-top: 30px;
    margin-bottom: 20px;
}

.red-info{
    color: #ba0606;
}

.points-list{
    text-align: left;
}

.points-list .head{
    font-weight: 900;
    margin-bottom: 10px;
}

.points-list .subpoint{
    margin-left: 20px;
    margin-bottom: 20px;
}

.points-list .subpoint::before{
    content: "-";
    margin-right: 20px;
}

.company-intro .red-info a{
    text-decoration: underline;
}

.company-intro p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.company-detail-cont .company-width-fix > p{
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: justify;
}

.company-detail-cont{
    width: 820px;
    max-width: 100%;
}

.company-detail-cont .company-width-fix{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.company-detail-cont h2{
    font-size: 40px;
}

.company-detail-page h2{
    margin-bottom: 2px;
}

.company-detail-page h3{
    margin-top: 0px;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 15px;
}

.company-detail-page .link{
    text-align: center;    
    margin-top: 20px;
}

.company-detail-page a{
    color: #002060;
    text-align: center;
    text-decoration: underline;
}

.company-detail-page p{
    font-size: 20px;
}

.company-detail-page img{
    width: 300px;
    max-width: 95%;
    margin: 10px auto;
    margin-top: 80px;
}

.panelist{
    display: grid;
    max-width: 95%;
    width: 850px;
    grid-template-columns: 1fr 1fr;
    column-gap: 35px;
    row-gap: 35px;
    justify-items: center;
    align-items: center;
    margin: 20px auto 30px;
}

.panelist-item img{
    width: 100%;
}

.panelist-item h4{
    font-weight: 500;
    font-size: 18px;
    margin: -6px 0 0 0;
    padding: 10px 0 0px;
}

.panelist-item a{
    font-size: 18px;
    display: block;
    text-decoration: underline;
    color: #002060;
}

@media screen and (max-width: 850px) {
    .panelist{
        width: 400px;
        grid-template-columns: 1fr;
    }
}

.company-detail-page .points {
    margin: 0 0 5px;
    margin-left: 15px;
}

.company-detail-page .points span{
    margin-right: 20px;
}



.bold-red{
    color: #ba0606;
    font-weight: 900;
}

.bold-red-intro{
    margin: 0px 0 20px 0;
}

.dissa{
    display: none !important;
}

.old {
    color: #6F727B;
}

.program-day{
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.program-day .tbs{
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 30px;
    display: block;
}

.program-page-main{
    padding: 20px 10px !important;
}

.program-page-main h2{
    margin-top: 0px;
}

.program-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 5px;
}

.program-item .time{
    max-width: 125px;
    min-width: 125px;
    text-align: left;
    background-color: #6F727B;
    font-size: 18px;
    padding: 5px 10px;
    color: #fff
}

@media screen and (max-width: 800px) {
    .program-item .time{
        max-width: 60px;
        min-width: 60px;
        text-align: left;
        background-color: #6F727B;
        font-size: 18px;
        padding: 5px 10px;
        color: #fff
    }

    .onwards-word{
        display: none;
    }
}


.program-item .content{
    flex-grow: 1;
    text-align: left;
    margin-left: 5px;
}

.program-item .content-header{
    background-color: #2c3161;
    padding: 5px 10px;
    color: #fff;
}

.program-item .content-header h4{
    font-weight: 500;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
}


.program-item.simple .content{
    font-weight: 500;
    font-size: 18px;
    margin-left: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    color: #fff;
}

.program-item.simple .content a{
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    text-decoration: underline;
}

.program-item .content-header h5{
    font-weight: 500;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 2px;
}

.program-item .content-items{
    margin-left: 15px;
}

.program-item .content-item{
    margin-bottom: 20px;
}

.program-item .content-item-abstract{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: justify;
    display: none;
}

.program-item .content-item-abstract a{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
}

.program-item .content-item-abstract::after{
    content: "___";
    display: block;
    color: #002060;
    text-align: center;
    font-size: 25px;
    width: 100%;
    pointer-events: none;
    margin-top: -17px;
}

.program-item .content-item-abstract::before{
    content: "___";
    display: block;
    color: #002060;
    text-align: center;
    font-size: 25px;
    width: 100%;
    pointer-events: none;
    margin-top: -27px;
}

.program-item .content-item-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    cursor: pointer;
}

.program-item .content-item:first-of-type{
    margin-top: 15px;
}


.program-item .content-item-header img{
    width: 35px;
    height: 35px;
}

.program-item .content-item-header p{
    font-size: 18px;
    margin-left: 10px;
}

.program-item .content-item-header .content-item-title{
    font-style: italic;
}

.program-item .light-blue{
    background-color: #00b0f0;
}

.program-item .yellow{
    background-color: #f6bb00;
}

.program-item.warning{
    background-color: #c00000;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.program-item .green{
    background-color: #538135;
}

.program-item .dark-blue{
    background-color: #2f5496;
}

.program-item .dark-grey{
    background-color: #4f4f4f;
}

.program-item .grey-blue{
    background-color: #7589a7
}

.program-item .medium-blue{
    background-color: #2f5396
}

.program-item .light-grey{
    background-color: #a6a6a6;
}

.program-item .orange{
    background-color: #ed7d31;
}

.program-page-main .select-day{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 30px 0 20px 0;
}

.program-page-main .select-day a{
    display: block;
    width: 150px;
    font-weight: 500;
    padding: 10px 0;
    border-radius: 5px;
    color: #2c3161;
    margin: 0 10px;
    border: #2c3161 3px solid;
}

.program-page-main .select-day a.selected{
    background-color: #2c3161;
    color: #fff;
}

.content-item::after{
    content: "___";
    display: block;
    text-align: center;
    font-size: 30px;
    margin-top: -23px;
    touch-action: none;
    pointer-events: none;
    display: none;
}

#apendee1, #apendee2, #apendee3{
    display: none;
}

.heightFix{
    height: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 650px) {

    .program-page-main .select-day a{
        word-spacing: 60px;
    }
}

@media screen and (max-width: 550px) {

    .program-page-main .select-day{
        flex-wrap: wrap;
    }

    .program-page-main .select-day a{
        word-spacing: 70px;
    }

    .program-page-main .select-day a{
        margin-bottom: 10px;
    }
}

.day-info{
    width: 760px;
    max-width: 95%;
    box-sizing: border-box;
    margin: 5px auto 20px;
    border: #002060 solid 2px;
    padding: 10px;
    border-radius: 5px;   
}

.day-info-halfes{
    display: flex;
    justify-content: space-between;
}

.day-info .presentation-type{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.day-info .presentation-type:first-of-type{
    margin-top: 0;
}

.day-info .presentation-type img{
    width: 32px;
    height: 32px;
}

.day-info .presentation-type p{
    margin-left: 10px;
    font-size: 18px;
    text-align: left;
}

.day-info .presentation-type.console{
    justify-content: center;
}

.day-info .presentation-type.console img{
    width: 36px;
    height: 36px;
}

.day-info .abstract-info{
    margin-top: 15px;
    font-size: 18px;
    color: #ba0606;
}

.day-info .info-break-fix{
    display: none;
}

@media screen and (max-width: 800px) {
    .day-info{
        width: 400px;
        
    }

    .day-info-falf:nth-of-type(2){
        margin-top: 10px;
    }

    .day-info-halfes{
        flex-direction: column;
    }

    .day-info .info-break-fix{
        display: block;
    }

    .day-info .presentation-type.console{
        justify-content: start;
        margin-left: -3px;
    }

    .day-info .presentation-type.console p{
        margin-left: 9px;
    }
}


/*text*/
@media screen and (max-width: 700px) {
    .speaker-page-main .lecture-cont p,
    .gala-detail-cont > p,
    .speaker-page-main .about-speaker p,
    .speaker-detail-text .speci-show-text,
    .company-detail-cont .company-width-fix > p,
    .travel-page-main p,
    .program-item .content-item-abstract{
        text-align: left;
    }

}

.red-warning{
    color: #ba0606;
    text-align: center !important;
}

.conf-end{
    margin-bottom: 70px;
    margin-top: 30px;
}

.conf-end h2{
    margin-top: 0px;
    margin-bottom: 10px;
}

.conf-end p{
    max-width: 1000px;
    margin: 0 auto;
}

.conf-end-links{
    margin-top: 30px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.conf-end-links a{
    display: block;
    font-size: 24px;
    width: 210px;
    background-color: #2c3161;
    padding: 15px 0;
    color: #fff;
    margin: 0 20px;
    border-radius: 5px;
}

.conf-end-links a:hover{
    text-decoration: underline;
}


.gallery-page-main h2{
    margin-top: 0px;
    margin-bottom: 20px;
}

.gallery-page-main h3{
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: 500;
}

.highlights{
    display: grid;
  width: 860px;
  max-width: 95%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin: auto;
  column-gap: 15px;
  row-gap: 15px;
}

.highlights img{
    object-fit: cover;
    width: 100%;
}

.photos > a{
    margin-top: 25px;
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #2c3161;
    text-decoration: underline;
}