body{

    margin: 0;

    font-family: 'Roboto', sans-serif;
    text-align: center;

}

body > *{
    padding: 40px !important;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 50px;
    font-weight: bolder;

    color: #2c3161;

    margin: 40px 0 10px 0;
}

h3{
    font-size: 30px;

    margin: 0 0 10px 0;
}

p, a{
    font-size: 22px;

    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

a, li{
    cursor: pointer;;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.underline{
    text-decoration: underline;
}

.sub-cont{
    max-width: 1200px;
    margin: auto;
}

.disabled{
    color: #555;
    cursor: not-allowed;
    text-decoration: line-through !important;
}

.disabled-button{
    cursor: not-allowed;
    text-decoration: line-through !important;
}

.not-yet{
    display: none !important;
}

header{
    background-repeat: no-repeat;
    background-size: cover;

    color: #fff;

    padding: 20px 0 80px 0;

}

header .upper-header-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 40px;
}

header .logos-cont .logo-wide{
    max-height: 100px;
    max-width: 100%;
    height: auto;
    width: auto;

    object-fit: contain;
}

header .logos-cont .logo-long{
    display: none;
}

@media screen and (max-width: 800px) {
    header .logos-cont{
        width: 100%;
    }

    header .logos-cont .logo-wide{
        display: none;
    }

    header .logos-cont .logo-long{
        display: block;

        height: 250px;

        margin: auto;
    }

    header .menu-icon-cont{
        position: absolute;

        width: 50px !important;
        height: 50px !important;
    }

    header .menu-icon-cont img{
        width: 50px !important;
        height: 50px !important;
    }

    header .menu-icon-cont .hidden-logo{
        right: -40px;
        top: 20px;
    }

    header .menu-cont{
        right: -281px;
        transform: translateX(-73%) !important;
    }

    header .upper-header-cont{
        margin-bottom: 45px;
    }
}

header .hidden-logo{
    position: fixed;
    transform: translateX(-90%);
    z-index: 1;

    top: 45px;

    padding: 10px;
    border-radius: 50%;

    background-color: #2c3161;
}

header .menu-icon-cont{
    width: 65px;
    height: 65px;
}

header .menu-icon-cont img{
    object-fit: fill;
    width: 65px;
    height: 65px;
    
}


header .lower-header-cont > p{
    margin-bottom: 100px;
    font-size: 20px;
}

header .header-buttons-cont{
    margin-bottom: 50px;
}

header .header-buttons-cont a{
    padding: 15px 20px;
    margin: 0 15px;

    border: 2px solid #fff;
    border-radius: 5px;

}

@media screen and (max-width: 600px) {
    header .header-buttons-cont a{
        display: block;
    }

    header .header-buttons-cont a:first-child{
        margin-bottom: 20px;
    }
}

header .menu-cont{
    display: none;
    position: fixed;

    transform: translateX(-76%);
    top: 0;

    width: 350px;
    height: 100%;

    overflow-y: auto;

    border: 10px solid #2c3161;
    border-top: none;

    background-color: #fff;

    color: #2c3161;

    z-index: 20;
}

@media screen and (max-width: 1300px) {
    header .menu-cont{
        transform: translateX(-69%);
    }
}

header .menu-cont .menu-off{
    margin-top: 15px;
}

header .menu-cont nav{
    margin: 15px 0 50px 0;
}

header .menu-cont li{
    list-style-type: none;

    font-size: 22px;
    font-weight: 900;

    margin-bottom: 15px;
}

header .menu-cont .buy-button{
    display: inline-block;

    padding: 15px 20px;
    margin-bottom: 80px;

    background-color: #2c3161;
    color: #fff;
    border-radius: 5px;

    font-size: 22px;
    font-weight: 900;
    

}


.about-cont .about-text p{
    margin-bottom: 40px;
}

.about-cont .topics-cont > p{
    font-weight: 900;
}

.about-cont h2{
    margin-bottom: 0px;
}

.about-cont .about-text .archive-link{
    display: block;
    text-decoration: underline;
    font-size: 35px;
    margin-bottom: 30px;
    color: #2c3161;
}

.important-dates .dates-cont{
    width: 600px;
    max-width: 100%;

    margin: auto;

    text-align: left;
}

.important-dates .dates-cont > p{
    margin-bottom: 10px;
}

.important-dates .date-bold{
    font-weight: 900;
}

.sponsors-cont > h2{
    margin-bottom: 30px;
}

.sponsors-cont .sponsors-grid{
    display: grid;

    width: 600px;
    max-width: 80%;

    grid-template-columns: 1fr 1fr;

    justify-items: center;
    align-items: center;

    margin: auto;
}

.brainvr-logo {
    height: 120px;
}

.extra-text{
    margin: 10px auto 30px auto;
    max-width: 800px;
}

@media screen and (max-width: 750px) {
    .sponsors-cont .sponsors-grid{
        display: flex;
    
        flex-direction: column;
    
        max-width: 80%;
    
        margin: auto;
    }
}


.sponsors-cont .sponsor-detail{
    margin-bottom: 30px;
}

.sponsors-cont .sponsor-detail > img{


    max-height: 150px;
    max-width: 250px;

    object-fit: contain;
}

.sponsors-cont .discount a{
    display: inline-block;
    color: #2c3161;
    text-decoration: underline;
    font-weight: 900;
    margin-bottom: 5px;
}

.general-info .psychofarma-logo{
    width: 130px;
}

.general-info .location-panel{
    margin-bottom: 30px;
}

.general-info .location-panel > p{
    margin-bottom: 10px;
}

.general-info .carousel-panel h3{
    margin-bottom: 25px;
}

.general-info .carousel_cont{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.general-info .carousel{
    margin: auto;
    max-width: 920px;
    width: 100%;
}

.general-info .carousel img{
    width: auto;
    height: auto;
    max-width: 900px;
    max-height: 550px;
    margin: auto;
}


@media screen and (max-width: 1000px) {
    .general-info .carousel{
        max-width: 100%;
    }

    .general-info .carousel img{
        max-width: 100%;
    }
}

@media screen and (min-width: 500px){
    .slick-prev:before,
    .slick-next:before {
        display: inline-block !important;
        font-size: 40px !important;
    }

    .slick-prev{
        left: -50px !important;
    }
}

.slick-prev:before,
.slick-next:before {
    color: #2c3161 !important;
}

.general-info .date-panel{
    margin-bottom: 30px;
}

.general-info .date-panel > a{
    color: #000;
    text-decoration: none;

}



.general-info .date-panel > p{
    margin-bottom: 10px;
}


.general-info .location-panel .mapouter{
    max-width: 100%;
    margin: 20px auto;

    z-index: 0;
}

.general-info .location-panel .gmap_canvas{
    max-width: 100%;
    z-index: 0;
}

.general-info .location-panel .mapouter iframe{
    max-width: 100%;
    z-index: 0;
}

.program-cont .schedule-cont{
    margin-bottom: 30px;
}

.program-cont .pdf-program-cont{
    margin: 50px 0 70px 0;
}

.program-cont .pdf-program-cont > a{

    padding: 20px 30px;

    background-color: #2c3161;

    border-radius: 10px;

    font-size: 30px;
    font-weight: bolder;
    color: #fff;
}

.program-cont .keynote-speakers-cont > h3{
    margin-bottom: 25px;
}

.program-cont .speakers-detail-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.program-cont .speaker-detail-cont{
    display: flex;
    flex-direction: column;

    max-width: 300px;

    margin: 15px;

    text-align: center;

    cursor: pointer;
}

.program-cont .program-link{
    margin-top: 30px;
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #2c3161;
    text-decoration: underline;
}

.program-cont .speaker-detail-img-cont{
    border-radius: 50px;
}

.program-cont .speaker-detail-img-cont img{
    object-fit: fill;
    width: 100%;
    height: 100%;

    
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.speaker-detail-text{
    position: relative;
    background-color: #2c3161;
    padding-top: 15px;
    padding-bottom: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.speaker-detail-text-sub{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.speaker-detail-text h4{
    font-size: 18px;
    color: #fff;
    margin: 0;
}

.speaker-detail-text p{
    font-size: 16px;
    color: #fff;
    margin: 0;
    margin-top: 10px;
}

.speaker-detail-text .more-info-arrow{
    position: absolute;
    width: 20px;
    right: 50px;
    top: 20px;
}

.speaker-detail-text .more-info{
    display: none;
    margin-top: 10px;
}

.speaker-detail-text .more-info p{
    margin: 7px 10px;
    font-size: 12px;
}

.speaker-detail-text .more-info p::before{
    content: '• ';
}

.rotated{
    transform: rotate(180deg);
}

.logistics-cont > div{
    margin-bottom: 45px;
}

.logistics-cont .travel-info a{
    display: block;
    margin: 25px 0;
    color: #2c3161;
    font-weight: 900;
    text-decoration: underline;
}

.logistics-cont > div:last-child{
    margin-bottom: auto;
}

.contact-info p{
    margin-top: 12px;
    margin-bottom: 12px;
}

.contact-info p:nth-child(2){
    margin-top: 20px;
}

.contact-info a {
    text-decoration: underline;
}

.registration-cont p{
    margin-bottom: 10px;
}

.registration-cont .top-registry-text .date-bold{
    font-weight: 900;
}

.registration-cont .registry-button{
    margin-top: 40px;
    margin-bottom: 40px;
}

.registration-cont .registry-button a{
    text-decoration: underline;
    font-weight: 900;
    color: #ba0606;
}


.registration-cont .bottom-registry-text p{
    margin-bottom: 20px;
}

.terms-condi{
    margin-top: 20px;
    font-weight: 900;
}

.terms-condi a{
    color:#2c3161;
    text-decoration: underline;
}

.abstract-cont .abstract-dates p{
    margin: 10px 0;
}

.first-call{
    color: #ba0606;
    text-decoration: underline;
    display: block;
    margin: 25px 0 10px 0;
    font-size: 22px;
}

.submit-abstract{
    color: #ba0606;
    text-decoration: underline;
    display: block;
    margin: 10px 0 35px 0;
    font-size: 30px;
    font-weight: 900;
}

.submisions-subheader{
    margin-bottom: 15px;
}

.demo-header{
    color: #ba0606;
}

.demo-link{
    color: #ba0606;
    text-decoration: underline;
}

.demo-link:hover{
    color: #ba0606;
    text-decoration: underline;
}

.submissions-sub{
    margin-bottom: 35px;
}

.demo-header > a{
    color: #ba0606;
    text-decoration: underline;
}

.submit-abstract:hover{
    color: #ba0606;
    text-decoration: underline;
}

.abstract-cont > h2{
    margin-bottom: 25px;
}

.abstract-cont .abstract-notes{
    margin: 25px 0;
}

.abstract-cont .down-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.abstract-cont .abstract-notes p{
    max-width: 700px;
    font-size: 18px;
    margin: 10px auto;
}

.abstract-cont .abstract-templates{
    margin-top: 20px;
}

.abstract-cont .abstract-templates a{
    font-size: 22px;
    color: #2c3161;
    text-decoration: underline;
    font-weight: 900;
}

.abstract-cont .abstract-templates p{
    margin: 5px 10px;
}


.committees-cont > h2{
    margin-bottom: 20px;
}

.committees-cont .sub-committee-cont > h3{
    margin-bottom: 15px;
}

.committees-cont .sub-committee-cont{
    margin-bottom: 45px;
}

.committees-cont .sub-committee-names-cont > p{
    margin-bottom: 10px;
}

.committees-cont .prize-cont h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.committees-cont .prize-cont a{
    color: #2c3161;
    text-decoration: underline;
    font-weight: 900;
}

.archives-cont p:last-child{
    margin-top: 10px;
}

.archives-cont a{
    color: #2c3161;
    text-decoration: underline;
    font-weight: 900;
}

footer{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    color: #fff;
}


/* keynote-speaker-page */

.speaker-page-header{
    
}

.speaker-page-top-sponsors{
    margin: auto;
}

.speaker-page-header-title{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.speaker-page-header-title .logo-wide{
    width: 400px;
}

.speaker-page-header-innner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.speaker-page-header .logo-wide-top{
    display: none;
}

@media screen and (max-width: 610px) {
    .speaker-page-header-title .logo-wide{
        display: none;
    }

    .speaker-page-header .logo-wide-top{
        display: block;
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
    }
}

.speaker-page-header-innner h1{
    color: #fff;
    font-size: 25px;
    text-align: right;
    max-width: 500px;
    margin: 5px 0;
}

.lower-header-cont h1{
    font-size: 25px;
    margin-top: 3px;
    margin-bottom: 10px;
}

.main-logo-image{
    width: 100%;
    max-width: 675px;
}

.speaker-page-header-back{
    font-size: 30px;
    font-weight: 900;
    display: flex;
    align-items: center;
    padding-right: 20px;
    margin-left: -10px;
}


.speaker-page-header-back-img{
    width: 50px;
    
    transform: rotate(90deg);
}

.speaker-page-main{
    padding-top: 10px !important;
    max-width: 1200px;
    margin: auto;
}

.speaker-page-main .speaker-detail-img-cont img{
    border-radius: 50%;
    border: solid 2px #2c3161;
    max-width: 350px;
    width: 90%;
}

.speaker-page-main .speaker-detail-cont h2{
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.speaker-page-main .lecture-cont,
.speaker-page-main .about-speaker{
    max-width: 700px;
    margin: auto;
}

.speaker-page-main .lecture-cont p,
.speaker-page-main .about-speaker p{
    text-align: justify;
}

.speaker-page-main .lecture-cont h3{
    margin-top: 10px;
    font-size: 25px;
}

.speaker-page-main .lecture-cont p{
    font-size: 18px;
    text-align: justify;
}

.speaker-page-main .about-speaker{
    margin-top: 60px;
    border-top: solid 3px #2c3161;
}

.speaker-page-main .about-speaker h4{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;

}

.speaker-page-main .about-speaker a{
    font-size: 18px;
    color: #2c3161;
    text-decoration: underline;
}

.speaker-page-main .about-speaker p{
    font-size: 18px;
    margin-bottom: 7px;
}

.speaker-page-main .centered p{
    text-align: center;
}

.specials-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.specials-cont > *{
    margin-bottom: 30px;
}

.special-detail-text{
    position: relative;
}

.special-detail-text .speaker-detail-text-sub{
    height: unset;
}

.special-detail-text .speaker-detail-text-sub > p{
    margin-top: 0px;
}

.specials-sub{
    max-width: 600px;
}

.special-extend-button img{
    width: 25px;
}

.speci-expand-button{
    width: 30px;
    position: absolute;
    right: 17px;
    top: 35px;
}

.specials-sub .speaker-detail-img-cont img{
    margin-bottom: -7px;
}

.speci-show-text a{
    font-size: 16px;
    text-decoration: underline;
}

#galaExpandButton{
    transform: rotate(-90deg);
}

.speaker-detail-text .speci-show-text{
    display: none;
    margin: 25px 30px 5px 30px;
    text-align: justify;
}

.travel-page-main h2{
    margin-bottom: 30px;
}

.travel-page-main .guide-pictures{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.travel-page-main .guide-pictures img{
    width: 100%;
    margin: 30px;
}

.travel-page-main .download-con{
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.travel-page-main .download-travel{
    display: block;
    font-size: 25px;
    font-weight: bold;
    color: #2c3161;
    text-decoration: underline;
    
}

.travel-page-main .guide-pictures .wide{
    max-width: 800px;
}

.travel-page-main .guide-pictures .narrow{
    max-width: 450px;
}

.travel-page-main .guide-pictures .small{
    max-width: 350px;
}

.travel-page-main{
    text-align: justify;
    max-width: 1000px;
    margin: auto;
}

.travel-page-main p{
    margin-bottom: 20px;
}

.hotels-page-main > p {
    margin-top: 20px;
    margin-bottom: 30px;
}

.acomodation-info a{
    display: block;
    margin: 25px 0;
    color: #2c3161;
    font-weight: 900;
    text-decoration: underline;
}

.speaker-funding{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.speaker-funding .speaker-fund-digi{
    width: 200px;
    max-width: 100%;
}

.speaker-funding .speaker-fund-eu{
    width: 500px;
    max-width: 100%;
}

.about-speaker .last-para{
    margin-top: 45px;
}


.hotels-page-main h2{
    margin-bottom: 30px;
}

.hotels-page-main .list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.hotels-page-main .item{
    width: 800px;
    max-width: 100%;
    border-bottom: 3px solid #2c3161;
    padding: 15px;
    margin-bottom: 10px;
}

.hotels-page-main .stars{
    margin-left: 5px;
}

.hotels-page-main .other-info p::before{
    content: "•  ";
}

.hotels-page-main .other-info p{
    margin-top: 8px;
    font-size: 21px;
    text-align: left;
}


.hotels-page-main .item h3{
    font-size: 25px;
}

.hotels-page-main .item a{
    color: #2c3161;
    text-decoration: underline;
    margin-bottom: 15px;
}

.hotels-page-main .item .item-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hotels-page-main .download-con{
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.hotels-page-main .download-travel{
    display: block;
    font-size: 25px;
    font-weight: bold;
    color: #2c3161;
    text-decoration: underline;
    
}

.hotels-page-main .other-info{
    margin-bottom: 10px;
}

.gala-detail-cont{
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.gala-detail-cont > p{
    text-align: justify;
    margin-bottom: 15px;
}

.gala-info > p{
    margin-bottom: 10px;
}

.gala-info a{
    text-decoration: underline;
}

#specials{
    margin-top: 35px;
}

.gala-detail-cont h3{
    margin-top: 25px;
}

.gala-info .gala-info-break{
    margin-bottom: 30px;
}

.gala-detail-cont .mapouter{
    margin-top: 40px;
    margin: 30px auto;
    height: 400px;
}

.gala-pictures > img{
    width: 100%;
    max-width: 750px;
    margin-top: 30px;
}

.bold-red{
    color: #ba0606;
    font-weight: 900;
}

.bold-red-intro{
    margin: 0px 0 20px 0;
}

.dissa{
    display: none !important;
}

.old {
    color: #6F727B;
}